option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "MackzanLandingPage.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: MackzanLandingPage.wsgi
    NumProcesses: 3
    NumThreads: 20
  "aws:autoscaling:launchconfiguration":
    DisableIMDSv1: true